body {
  margin: 0;
  font-family: 'Handlee', cursive;
}

h1 {
  background-color: black;
  color: #f7d6ad;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 10px;
}

.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 9px;
  height: 140px;
  margin: 0 10px 10px 0;

  /* hide text */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.card-background {
  width: 100px;
  height: 140px;
  background-size: 100%;
}

.covered .card-background {
  background-color: black;
  background-image: url('rabbitback.jpg') !important;
  background-size: 100%;

}

.hand {
  overflow: auto;
}

.stats {
  display: flex;
}

.win-loss {
  margin: 0 5px 5px 0;
}

.stats, .gameview-container {
  padding-left: 40px;
  padding-right: 40px;
}

.stats {
  padding-top: 20px;
}

button {
  background-color: black;
  border: none;
  color: #f7d6ad;
  border-radius: 3px;
  font-size: 16px;
  margin: 15px 10px 0 0;
  padding: 10px;
  font-family: 'Handlee', cursive;
}

.stats {
  font-size: 20px;
}
